<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}Game of Life{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'game_of_life/css/sandbox.css' %}">
{% endblock content %}

{% block footer %}

<div id="bottom-button-bar">

  <div id="pattern-dropdown-container">
    <canvas height="100px" width="100px" id="preview-canvas"></canvas>
    <select id="pattern-dropdown" class="btn">
      <option value="none">none</option>
    </select>
    <button type="button" class="btn" id="rotate-button">Rotate</button>
  </div>
  <div class="button-container">
    <button type="button" class="btn" id="run-button">Run</button>
    <button type="button" class="btn" id="stop-button">Stop</button>
    <button type="button" class="btn" id="clear-button">Clear</button>
  </div>
</div>

{% endblock footer %}

{% block game_of_life_script %}
<script type="module" src="{% static 'game_of_life/js/gol_sandbox.js' %}"></script>
{% endblock %}