<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}Game of Life{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'game_of_life/css/sandbox.css' %}">

<div class="text-end">
  <img id="settings-gear" src="{% static 'game_of_life/img/SettingsGear.png' %}">
</div>

<div id="settings-box" class="container rounded shadow" style="display:none">
  <h5>Settings</h5>
  <br />
  <p>Update Interval ms</p>
  <div class="slidecontainer">
    <input type="range" min="10" max="1000" value="50" class="slider" id="update-interval-slider">
  </div>
  <p>Cell Size</p>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="10" class="slider" id="cell-size-slider">
  </div>
</div>

{% endblock content %}

{% block footer %}


<div id="bottom-button-bar">

  <div id="pattern-dropdown-container">
    <canvas height="100px" width="100px" id="preview-canvas"></canvas>
    <select id="pattern-dropdown" class="btn">
      <option value="none">none</option>
    </select>
    <button type="button" class="btn" id="rotate-button">Rotate</button>
  </div>
  <div class="button-container">
    <button type="button" class="btn" id="start-stop-button">Start</button>
    <button type="button" class="btn" id="clear-button">Clear</button>
  </div>
</div>

{% endblock footer %}

{% block game_of_life_script %}
<script type="module" src="{% static 'game_of_life/js/gol_sandbox.js' %}"></script>
{% endblock %}