#contact-container {
  position: relative;
  top: 15%;
  text-align: center;
}

.form-signin {
    width: 100%
}

input, textarea {
    margin-bottom: 1rem;
    width: 100%;
    padding: 6px 10px;
    border: rounded;
}

.btn[type="submit"] {
    width: 100%;
}
