div.flex-container {
  display: flex; 
  flex-direction: column;
  height: 100%;
}

div.text-section {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

div.video-section {
  display: flex; 
  justify-content: center; 
}

.video-container {
  aspect-ratio: 9/16;
  display: flex; 
  justify-content: center; 
}

.video-container iframe {
  height: 90%;
  width: 90%;
}