<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<h4>
    Prime photo page</br></br>
</h4>
<p>
    My grandfather was interested in science and maths, he was particularly interested in prime numbers.
    For his 80th birthday I made this picture of him made out of a 1939 (year of his birth) digit prime number.
</p>

<div class="vh-100">
    <img src="{% static 'img/GrandadPrimeFace.png' %}" class="img-fluid"/>
</div>

{% endblock content %}



