<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block content %}

<h4 class="pb-2">
    Prime photo page
</h4>
<p>
    My grandfather was interested in science and maths, he was particularly interested in prime numbers.
    For his 80th birthday I made this picture of him made out of a 1939 (year of his birth) digit prime number.
</p>
<div class="container pb-2" 
     style="height:80%;">
  <img 
    src="{% static 'img/GrandadPrimeFace.png' %}"
    style="width: 100%; height: 100%; object-fit: contain;"
  />
</div>

{% endblock content %}



