<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'todo/css/todo_base.css' %}" />

<div class="central-column-banner">
  <a href="{% url 'todo_list' %}">Back</a>
  {% if user == object.user %}
  <div>
    <a href="{% url 'todo_update' object.pk %}">Update</a> |
    <a href="{% url 'todo_delete' object.pk %}">Delete</a>
  </div>
  {% endif %}

</div>

<div class="central-column-content">
  <div class="container w-75 text-center pb-2">
    <h5> {{ object.title }} </h5>
  </div>

  <p> {{ object.description }} </p>

  <div class="text-end">
    <p> -{{ object.user }} </p>
  </div>

  <p> Created: {{ object.created_date }} </p>
  {% if object.completed_date is not None %}
  <p> Completed: {{ object.completed_date }} </p>
  {% endif %}
</div>


{% endblock content %}