<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'todo/css/todo_base.css' %}"/>

<div class="central-column-banner d-flex p-1 justify-content-between">
  <a href="{% url 'todo_detail' object.pk %}">Back</a>
</div>

<div class="container w-75 text-center pb-2">
    <h5> Update Item </h5>
</div>

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="d-flex justify-content-center">
    <input type="submit" value="Confirm">
  </div>
</form>

{% endblock content %}



