html {
  min-height: 100vh;
  min-width: 400px;
}

header {
  background-color: white;
}

.base-banner a:hover {
  font-weight: bold;
  color: black;
}

.base-banner a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container#central-column {
  width: 80%;
  min-width: 320px;
  max-width: 600px;
  text-align: left;
  background-color: white !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.container#central-column h4 {
  text-align: center;
}
