
html {
  min-height: 100vh;
  min-width: 400px;
}

.base-banner a:hover {
  font-weight: bold;
  color: black;
}

.base-banner a {
  color: black;
  text-decoration: none;
}

main {
  min-height: 100vh;
  background-color: #fdf6ed;
}

.container#central-column {
  width: 80%;
  min-width: 320px;
  max-width: 600px;
  text-align: left;
  border-style: solid;
  border-color: #e5e0e8 !important;
  border-width: 1px;
  background-color: white !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container#central-column h4 {
  text-align: center;
  }

.container#central-column p, del {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  }
