main {
  padding-top: 15vh;
}

.container#central-column {
  width: 50% !important;
  max-width: 500px !important;
}

#login-container {
  max-width: 360px;
}

input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 6px 10px;
}
