body {
  height: 100vh;
  width: 100vw;
}

/* main {
  display: none;
} */

#central-column {
  display: none !important;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  z-index: auto;
}

div.button-container {
  z-index: 1;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

div#pattern-dropdown-container {
  z-index: 1;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.button-container button,
div#pattern-dropdown-container select {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  border: solid;
  height: 40px;
}

.button-container button:hover,
div#pattern-dropdown-container select:hover {
  background-color: rgb(212, 152, 250);
  border: solid;
}
